ul#results { border: 2px ridge maroon; background-color: #ffffcc; padding: 0.25em 1.5em; margin-left: 0; }
li.pass { color: #006400; }
li.fail { color: #dc143c; text-decoration: line-through; }

body {
   font: normal 13px/150% Arial, Helvetica, sans-serif;
}

div.countdown-clock {
    float: right;
}

div.countdown-clock div {
    display: inline-block;
}

.clearfix {
    clear: both;
}


div.timer-content {
    width: 20em;
    height: 20em;
    background-color: #666;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 15px solid #666;
    box-shadow: inset 0 0 0 10px #FFF;
    color: #FFF;
    line-height: 20em;
    text-align: center;
    vertical-align: middle;
}

div.timer-content div {
    height: 20em;
    margin: auto;
    line-height: normal;
    font-size: 18px;
}

p.remaining {
    font-size: 24px;
}